.container
    max-width: 1400px !important
body
    background: no-repeat
    background-image: url(../img/header-bg.png)
    background-size: 101%
    background-position-y: -230px
p
    font-family: Roboto
    font-style: normal
h4
    text-align: center
    font-family: Montserrat !important
    color: #556B9F !important
    font-weight: bold !important
h3
    font-family: Montserrat !important
    color: #556B9F !important
    font-weight: bold !important
h5
    font-family: Roboto
    font-weight: bold
