.container {
  max-width: 1300px !important;
}

.background {
  background: no-repeat;
  background-image: url(../img/header-bg.png);
  background-size: 100%;
  background-position-y: 0px;
  padding-bottom: 30px;
}

a {
  text-decoration: none !important;
  color: #556B9F !important;
}

p {
  font-family: Roboto;
  font-style: normal;
}

h4 {
  text-align: center;
  font-family: Montserrat !important;
  color: #556B9F !important;
  font-weight: bold !important;
}

h3 {
  font-family: Montserrat !important;
  color: #556B9F !important;
  font-weight: bold !important;
}

h5 {
  font-family: Roboto;
  font-weight: bold;
}

.header {
  padding-top: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #556B9F;
  font-weight: bold;
  line-height: 45px;
}

.header__logo {
  font-size: 38px;
}

.header-info {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  display: flex;
}

.header-info__title {
  margin-right: 0 !important;
  margin-top: 0 !important;
  margin-left: 15px;
}

.header-info__title:last-child {
  margin-right: 0px;
}

.hero {
  padding-top: 150px;
  padding-bottom: 20px;
  width: 50%;
}

.hero__title {
  font-size: 38px;
  margin: 0 !important;
}

.hero__undertitle {
  margin: 0 !important;
  font-family: Roboto;
  font-size: 25px;
}

.hero__text {
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 22px;
  line-height: 26px;
}

.hero__button {
  background: #F3A500;
}

.hero__buttontext {
  margin: 0px !important;
  padding: 5px 15px 5px 15px;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
}

.quote {
  margin-top: 65px;
  margin-bottom: 65px;
  display: flex;
  align-items: center;
}

.quote__text {
  margin-left: 144px;
  font-size: 22px;
  line-height: 26px;
}

.help {
  padding-bottom: 60px;
}

.help__title {
  padding-top: 60px;
  margin-bottom: 70px;
}

.help-list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  max-width: 600px;
  background-color: white;
  border-radius: 7px;
  margin-bottom: 30px;
  padding-right: 45px;
  padding-left: 45px;
  padding-bottom: 18px;
  padding-top: 25px;
}

.item:nth-child(odd) {
  margin-right: 30px;
}

.item__title {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 26px;
}

.item__title::before {
  content: url(../img/help-arrow.svg);
  margin-right: 15px;
}

.item__text {
  font-size: 20px;
  line-height: 26px;
}

.consultation-container {
  margin-top: 63px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.consultation__title {
  padding-top: 60px;
  font-size: 33px;
  line-height: 40px;
}

.consultation-block {
  margin-right: 40px;
  width: 50%;
}

.consultation-block__title {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 40px;
}

.consultation-block-list__item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.articles {
  margin-bottom: 60px;
}

.articles__title {
  font-size: 33px;
}

.articles-container {
  display: flex;
}

.articles-container-block {
  max-width: 440px;
  box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.22);
}

.articles-container-block__img {
  border-radius: 15px 15px 0px 0px;
}

.articles-container-block-info {
  background-color: #E2E2E2;
}

.articles-container-block-info__title {
  margin-top: 25px;
  margin-bottom: 15px;
}

.articles-container-block-info__text {
  margin-bottom: 15px;
}

.articles-container-block-info__link {
  color: black;
}
/*# sourceMappingURL=main.css.map */